.filterContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--sui-datatable-margin-small);
  color: var(--sui-black);
  width: 100%;
}

.filterPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--sui-datatable-gap-small);
  margin-right: var(--sui-datatable-margin-small);
  transition: all 0.75s ease;
  opacity: 0;
  width: 100%;

  > button {
    background-color: var(--sui-gray-150);
  }
}

.filterInput {
  display: flex;
  text-align: center;
  background: var(--sui-gray-150);
  border: none;
  border-radius: var(--sui-datatable-border-radius-small);
  text-overflow: ellipsis;
  height: 24px;
}

.openPanel {
  opacity: 1;
}

.closePanel {
  opacity: 0;
  pointer-events: none;
}

.menu {
  min-width: unset !important;
}

.item {
  display: flex;
  gap: 12px;
  height: 36px !important;
  padding: 6px;
  align-items: center;
}

.dropButton {
  width: auto;
  padding: 0.375rem !important;
  min-width: unset !important;

  svg {
    height: 12px;
    width: 12px;
  }
}

.button {
  svg {
    pointer-events: all;
    cursor: pointer;
  }
}
