.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  border: none;
  padding: var(--sui-datatable-padding-small);
}

.paginationContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sui-datatable-gap-small);
}

.pageInfo {
  display: flex;
  gap: var(--sui-datatable-gap-small);
}

.rowsPerPage {
  display: flex;
  align-items: center;

  label {
    margin-right: var(--sui-text-margin);
    font-size: var(--sui-text-small-fs);
    line-height: var(--sui-text-small-lh);
  }
}

.paginationInfo {
  font-size: var(--sui-text-small-fs);
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationButtons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sui-datatable-gap-small);
}

.menu {
  min-width: unset !important;
}

.item {
  justify-content: flex-end !important;
}

.rowsPerPageButton {
  width: auto;
  padding: 0.375rem !important;
  min-width: unset !important;

  svg {
    height: 12px;
    width: 12px;
  }
}
