.sortingContainer {
  position: relative;
  display: flex;
  margin-left: 5px;

  &[data-sort='ascend'] {
    .sortingButton > svg {
      transform: rotate(0deg);
    }
  }

  &[data-sort='descend'] {
    .sortingButton > svg {
      transform: rotate(-180deg);
    }
  }
}

.sortingButton {
  display: flex;
  position: absolute;
  top: -1rem;
  left: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--sui-datatable-white);

  > svg {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    transition: transform 200ms;
    color: var(--sui-gray-500);
  }
}
