.grid {
  background-color: var(--sui-white);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: var(--sui-elevation-2);
  gap: 0.5rem;

  >div {
    flex-wrap: nowrap;
    gap: 0.5rem;

    >div {
      color: var(--sui-white);
      font-weight: bold;
      border-radius: 0.5rem;
    }

    &:first-of-type>div {
      background-color: var(--sui-info);
    }

    &:nth-of-type(2)>div {
      background-color: var(--sui-success);
    }
  }
}
