.root {
  display: inline-flex;
  align-items: center;
  justify-content: center; /** This can be overwritten to make Badge content start from the left most position */
  align-self: center; /** This can be overwritten to make Badge fill the parent width */
  border: 1px solid transparent;
  border-radius: var(--sui-border-radius);
  padding: 0.125rem 0.625rem;
  font-size: 0.75rem;
  font-weight: 600;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  background-color: var(--sui-background);
  color: var(--sui-foreground);
  box-shadow: var(--shadow);
}

.root:hover {
  background-color: rgba(var(--sui-background-rgb), 0.8);
}

.root:focus {
  outline: 2px solid var(--ring);
  outline-offset: 2px;
}
