.root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--sui-font-family);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.value {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}

.label {
  font-size: 32px;
  font-weight: bold;
}

.separator {
  line-height: 32px;
  font-weight: bold;
  margin: 0 5px;
  font-size: 32px;
}

.withLabels {
  align-items: flex-end;
  margin-right: 8px;
  max-width: 100px;
  font-size: 16px;
}

.labelsUnder {
  flex-direction: column;
  margin-right: 12px;
  gap: 5px;
}

.labelsUnder .label {
  font-size: 16px;
}

.inBoxes {
  border: 1px solid var(--sui-countdown-border);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--sui-countdown-bg);
  flex-direction: column;
  gap: 5px;
  margin-right: 12px;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.inBoxes .label {
  font-size: 16px;
  color: var(--sui-countdown-label);
}

.inBoxes .value {
  color: var(--sui-countdown-label);
}
