.root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--sui-font-family);
  gap: 0.5rem;

  &[data-type='withSeparator'] {
    gap: 0.125rem;
  }

  &[data-type='inBoxes'] {
    flex-wrap: wrap;
  }

  &[data-type='labelsUnder'] {
    gap: 1rem;
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.value {
  font-size: 1rem;
  line-height: 32px;
  font-weight: bold;
}

.label {
  font-size: 1rem;
  font-weight: bold;
}

.separator {
  line-height: 32px;
  font-weight: bold;
  margin: 0 5px;
  font-size: 1rem;
}

.withLabels {
  align-items: flex-end;
  gap: 8px;
  max-width: 100px;
  font-size: 0.75rem;
}

.labelsUnder {
  flex-direction: column;
  gap: 5px;
}

.labelsUnder .label {
  font-size: 0.75rem;
}

.inBoxes {
  border: 1px solid var(--sui-countdown-border);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--sui-countdown-bg);
  flex-direction: column;
  gap: 5px;
  margin-right: 12px;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.inBoxes .label {
  font-size: 0.75rem;
  color: var(--sui-countdown-label);
}

.inBoxes .value {
  color: var(--sui-countdown-label);
}

@media (min-width: 576px) {
  // Small devices (landscape phones, 576px and up)
  .value,
  .label,
  .separator {
    font-size: 2rem;
  }

  .withLabels,
  .labelsUnder .label,
  .inBoxes .label {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  // Small devices (tablets, 768px and up)
}

@media (min-width: 992px) {
  // Small devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  // Small devices (large desktops, 1200px and up)
}

@media (min-width: 1400px) {
  // Small devices (larger desktops, 1400px and up)
}

@media (min-width: 2160px) {
  // Small devices (largest desktops, 2160px and up)
}
