.menu {
  background: var(--sui-dropdown-menu-bg);
  padding: var(--sui-padding-small);
  border-radius: var(--sui-border-radius-medium);
  box-shadow: var(--sui-elevation-1);
  border: 1px solid var(--sui-dropdown-menu-border);
  min-width: 144px;
  outline: 0;
  z-index: 99999999;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--sui-border-radius-small);
  padding: var(--sui-padding);
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
    transition: rotate 200ms;
  }

  &:hover,
  &:focus {
    background: var(--sui-floating-menu-item-active);

    svg {
      rotate: 90deg;
    }
  }

  &[data-nested][data-open]:not([data-focus-inside]) {
    background: var(--sui-floating-menu-item-active);

    svg {
      rotate: 90deg;
    }
  }

  &[data-focus-inside][data-open] {
    background: var(--sui-floating-menu-item-active);

    svg {
      rotate: 90deg;
    }
  }
}
