// TO DO: Refactor this css block with new style pattern

  /* ALERT */
:root {
  --sui-success-50: color-mix(in srgb, var(--sui-success) 5%, var(--sui-white));
  --sui-info-50: color-mix(in srgb, var(--sui-info) 5%, var(--sui-white));
  --sui-warning-50: color-mix(in srgb, var(--sui-warning) 5%, var(--sui-white));
  --sui-error-50: color-mix(in srgb, var(--sui-error) 5%, var(--sui-white));
  --sui-success-200: color-mix(
    in srgb,
    var(--sui-success) 20%,
    var(--sui-white)
  );
  --sui-info-200: color-mix(in srgb, var(--sui-info) 20%, var(--sui-white));
  --sui-warning-200: color-mix(
    in srgb,
    var(--sui-warning) 20%,
    var(--sui-white)
  );
  --sui-error-200: color-mix(in srgb, var(--sui-error) 20%, var(--sui-white));
  --sui-success-d600: color-mix(
    in srgb,
    var(--sui-success) 60%,
    var(--sui-black)
  );
  --sui-info-d600: color-mix(in srgb, var(--sui-info) 60%, var(--sui-black));
  --sui-warning-d600: color-mix(
    in srgb,
    var(--sui-warning) 60%,
    var(--sui-black)
  );
  --sui-error-d600: color-mix(in srgb, var(--sui-error) 60%, var(--sui-black));
  --active-unfocused: red;
}
