.light,
:root,
[data-theme='light'] {
  --sui-context-menu-bg: var(--sui-white);
  --sui-context-menu-border: var(--sui-gray-200);
}

.dark,
[data-theme='dark'] {
  --sui-context-menu-bg: var(--sui-black);
  --sui-context-menu-border: var(--sui-gray-700);
}
