.light,
:root,
[data-theme="light"] {
--sui-stepper-stepicon-bg: var(--sui-gray-200);
--sui-stepper-stepicon-primary-active-bg: var(--sui-primary-900);
--sui-stepper-stepicon-secondary-active-bg: var(--sui-secondary-900);
--sui-stepper-stepicon-active-text: var(--sui-white);
--sui-stepper-steplabel-text: var(--sui-gray-700);
--sui-stepper-steplabel-active-text: var(--sui-black);
--sui-stepper-stepconnector-bg:var(--sui-gray-200);
--sui-stepper-stepcontent-text:var(--sui-gray-900);
--sui-stepper-stepcontent-border:var(--sui-gray-200);
--sui-stepper-stepcontent-bg: var(--sui-gray-100);
--sui-stepper-button-border:var(--sui-gray-200);
--sui-stepper-button-bg:var(--sui-gray-200);
--sui-stepper-button-bg-hover:var(--sui-gray-100);
}

.dark,
[data-theme="dark"] {
--sui-stepper-stepicon-bg: var(--sui-gray-800);
--sui-stepper-stepicon-primary-active-bg: var(--sui-primary-800);
--sui-stepper-stepicon-secondary-active-bg: var(--sui-secondary-800);
--sui-stepper-stepicon-active-text: var(--sui-white);
--sui-stepper-steplabel-text: var(--sui-gray-300);
--sui-stepper-steplabel-active-text: var(--sui-white);
--sui-stepper-stepconnector-bg:var(--sui-gray-800);
--sui-stepper-stepcontent-text:var(--sui-white);
--sui-stepper-stepcontent-border:var(--sui-gray-900);
--sui-stepper-stepcontent-bg: var(--sui-gray-950);
--sui-stepper-button-border:var(--sui-gray-200);
--sui-stepper-button-bg:var(--sui-gray-300);
--sui-stepper-button-bg-hover:var(--sui-gray-100);
}
