:root {
  --sui-tab-buttons-bg: var(--sui-gray-100);
  --sui-tab-button-border: var(--sui-transparent);
  --sui-tab-button-bg: var(--sui-transparent);
  --sui-tab-button-selected-bg: var(--sui-white);
  --sui-tab-content-bg: var(--sui-white);
  --sui-tab-content-fg: var(--sui-black);
}