:root {
  --sui-white: #fff;
  --sui-black: #000;
  --sui-success: #22c55e;
  --sui-info: #3b82f6;
  --sui-warning: #f97316;
  --sui-error: #ef4444;
  --sui-primary: #952fd3;
  --sui-secondary: #145477;
  --sui-white-rgb: 255 255 255;
  --sui-black-rgb: 0 0 0;
}
