:root {
  --sui-success-dark-50: color-mix(
    in srgb,
    var(--sui-success) 5%,
    var(--sui-black)
  );
  --sui-success-dark-100: color-mix(
    in srgb,
    var(--sui-success) 10%,
    var(--sui-black)
  );
  --sui-success-dark-150: color-mix(
    in srgb,
    var(--sui-success) 15%,
    var(--sui-black)
  );
  --sui-success-dark-200: color-mix(
    in srgb,
    var(--sui-success) 20%,
    var(--sui-black)
  );
  --sui-success-dark-250: color-mix(
    in srgb,
    var(--sui-success) 25%,
    var(--sui-black)
  );
  --sui-success-dark-300: color-mix(
    in srgb,
    var(--sui-success) 30%,
    var(--sui-black)
  );
  --sui-success-dark-350: color-mix(
    in srgb,
    var(--sui-success) 35%,
    var(--sui-black)
  );
  --sui-success-dark-400: color-mix(
    in srgb,
    var(--sui-success) 40%,
    var(--sui-black)
  );
  --sui-success-dark-450: color-mix(
    in srgb,
    var(--sui-success) 45%,
    var(--sui-black)
  );
  --sui-success-dark-500: color-mix(
    in srgb,
    var(--sui-success) 50%,
    var(--sui-black)
  );
  --sui-success-dark-550: color-mix(
    in srgb,
    var(--sui-success) 55%,
    var(--sui-black)
  );
  --sui-success-dark-600: color-mix(
    in srgb,
    var(--sui-success) 60%,
    var(--sui-black)
  );
  --sui-success-dark-650: color-mix(
    in srgb,
    var(--sui-success) 65%,
    var(--sui-black)
  );
  --sui-success-dark-700: color-mix(
    in srgb,
    var(--sui-success) 70%,
    var(--sui-black)
  );
  --sui-success-dark-750: color-mix(
    in srgb,
    var(--sui-success) 75%,
    var(--sui-black)
  );
  --sui-success-dark-800: color-mix(
    in srgb,
    var(--sui-success) 80%,
    var(--sui-black)
  );
  --sui-success-dark-850: color-mix(
    in srgb,
    var(--sui-success) 85%,
    var(--sui-black)
  );
  --sui-success-dark-900: color-mix(
    in srgb,
    var(--sui-success) 90%,
    var(--sui-black)
  );
  --sui-success-dark-950: color-mix(
    in srgb,
    var(--sui-success) 95%,
    var(--sui-black)
  );
  --sui-info-dark-50: color-mix(in srgb, var(--sui-info) 5%, var(--sui-black));
  --sui-info-dark-100: color-mix(
    in srgb,
    var(--sui-info) 10%,
    var(--sui-black)
  );
  --sui-info-dark-150: color-mix(
    in srgb,
    var(--sui-info) 15%,
    var(--sui-black)
  );
  --sui-info-dark-200: color-mix(
    in srgb,
    var(--sui-info) 20%,
    var(--sui-black)
  );
  --sui-info-dark-250: color-mix(
    in srgb,
    var(--sui-info) 25%,
    var(--sui-black)
  );
  --sui-info-dark-300: color-mix(
    in srgb,
    var(--sui-info) 30%,
    var(--sui-black)
  );
  --sui-info-dark-350: color-mix(
    in srgb,
    var(--sui-info) 35%,
    var(--sui-black)
  );
  --sui-info-dark-400: color-mix(
    in srgb,
    var(--sui-info) 40%,
    var(--sui-black)
  );
  --sui-info-dark-450: color-mix(
    in srgb,
    var(--sui-info) 45%,
    var(--sui-black)
  );
  --sui-info-dark-500: color-mix(
    in srgb,
    var(--sui-info) 50%,
    var(--sui-black)
  );
  --sui-info-dark-550: color-mix(
    in srgb,
    var(--sui-info) 55%,
    var(--sui-black)
  );
  --sui-info-dark-600: color-mix(
    in srgb,
    var(--sui-info) 60%,
    var(--sui-black)
  );
  --sui-info-dark-650: color-mix(
    in srgb,
    var(--sui-info) 65%,
    var(--sui-black)
  );
  --sui-info-dark-700: color-mix(
    in srgb,
    var(--sui-info) 70%,
    var(--sui-black)
  );
  --sui-info-dark-750: color-mix(
    in srgb,
    var(--sui-info) 75%,
    var(--sui-black)
  );
  --sui-info-dark-800: color-mix(
    in srgb,
    var(--sui-info) 80%,
    var(--sui-black)
  );
  --sui-info-dark-850: color-mix(
    in srgb,
    var(--sui-info) 85%,
    var(--sui-black)
  );
  --sui-info-dark-900: color-mix(
    in srgb,
    var(--sui-info) 90%,
    var(--sui-black)
  );
  --sui-info-dark-950: color-mix(
    in srgb,
    var(--sui-info) 95%,
    var(--sui-black)
  );
  --sui-warning-dark-50: color-mix(
    in srgb,
    var(--sui-warning) 5%,
    var(--sui-black)
  );
  --sui-warning-dark-100: color-mix(
    in srgb,
    var(--sui-warning) 10%,
    var(--sui-black)
  );
  --sui-warning-dark-150: color-mix(
    in srgb,
    var(--sui-warning) 15%,
    var(--sui-black)
  );
  --sui-warning-dark-200: color-mix(
    in srgb,
    var(--sui-warning) 20%,
    var(--sui-black)
  );
  --sui-warning-dark-250: color-mix(
    in srgb,
    var(--sui-warning) 25%,
    var(--sui-black)
  );
  --sui-warning-dark-300: color-mix(
    in srgb,
    var(--sui-warning) 30%,
    var(--sui-black)
  );
  --sui-warning-dark-350: color-mix(
    in srgb,
    var(--sui-warning) 35%,
    var(--sui-black)
  );
  --sui-warning-dark-400: color-mix(
    in srgb,
    var(--sui-warning) 40%,
    var(--sui-black)
  );
  --sui-warning-dark-450: color-mix(
    in srgb,
    var(--sui-warning) 45%,
    var(--sui-black)
  );
  --sui-warning-dark-500: color-mix(
    in srgb,
    var(--sui-warning) 50%,
    var(--sui-black)
  );
  --sui-warning-dark-550: color-mix(
    in srgb,
    var(--sui-warning) 55%,
    var(--sui-black)
  );
  --sui-warning-dark-600: color-mix(
    in srgb,
    var(--sui-warning) 60%,
    var(--sui-black)
  );
  --sui-warning-dark-650: color-mix(
    in srgb,
    var(--sui-warning) 65%,
    var(--sui-black)
  );
  --sui-warning-dark-700: color-mix(
    in srgb,
    var(--sui-warning) 70%,
    var(--sui-black)
  );
  --sui-warning-dark-750: color-mix(
    in srgb,
    var(--sui-warning) 75%,
    var(--sui-black)
  );
  --sui-warning-dark-800: color-mix(
    in srgb,
    var(--sui-warning) 80%,
    var(--sui-black)
  );
  --sui-warning-dark-850: color-mix(
    in srgb,
    var(--sui-warning) 85%,
    var(--sui-black)
  );
  --sui-warning-dark-900: color-mix(
    in srgb,
    var(--sui-warning) 90%,
    var(--sui-black)
  );
  --sui-warning-dark-950: color-mix(
    in srgb,
    var(--sui-warning) 95%,
    var(--sui-black)
  );
  --sui-error-dark-50: color-mix(
    in srgb,
    var(--sui-error) 5%,
    var(--sui-black)
  );
  --sui-error-dark-100: color-mix(
    in srgb,
    var(--sui-error) 10%,
    var(--sui-black)
  );
  --sui-error-dark-150: color-mix(
    in srgb,
    var(--sui-error) 15%,
    var(--sui-black)
  );
  --sui-error-dark-200: color-mix(
    in srgb,
    var(--sui-error) 20%,
    var(--sui-black)
  );
  --sui-error-dark-250: color-mix(
    in srgb,
    var(--sui-error) 25%,
    var(--sui-black)
  );
  --sui-error-dark-300: color-mix(
    in srgb,
    var(--sui-error) 30%,
    var(--sui-black)
  );
  --sui-error-dark-350: color-mix(
    in srgb,
    var(--sui-error) 35%,
    var(--sui-black)
  );
  --sui-error-dark-400: color-mix(
    in srgb,
    var(--sui-error) 40%,
    var(--sui-black)
  );
  --sui-error-dark-450: color-mix(
    in srgb,
    var(--sui-error) 45%,
    var(--sui-black)
  );
  --sui-error-dark-500: color-mix(
    in srgb,
    var(--sui-error) 50%,
    var(--sui-black)
  );
  --sui-error-dark-550: color-mix(
    in srgb,
    var(--sui-error) 55%,
    var(--sui-black)
  );
  --sui-error-dark-600: color-mix(
    in srgb,
    var(--sui-error) 60%,
    var(--sui-black)
  );
  --sui-error-dark-650: color-mix(
    in srgb,
    var(--sui-error) 65%,
    var(--sui-black)
  );
  --sui-error-dark-700: color-mix(
    in srgb,
    var(--sui-error) 70%,
    var(--sui-black)
  );
  --sui-error-dark-750: color-mix(
    in srgb,
    var(--sui-error) 75%,
    var(--sui-black)
  );
  --sui-error-dark-800: color-mix(
    in srgb,
    var(--sui-error) 80%,
    var(--sui-black)
  );
  --sui-error-dark-850: color-mix(
    in srgb,
    var(--sui-error) 85%,
    var(--sui-black)
  );
  --sui-error-dark-900: color-mix(
    in srgb,
    var(--sui-error) 90%,
    var(--sui-black)
  );
  --sui-error-dark-950: color-mix(
    in srgb,
    var(--sui-error) 95%,
    var(--sui-black)
  );
  --sui-primary-dark-50: color-mix(
    in srgb,
    var(--sui-primary) 5%,
    var(--sui-black)
  );
  --sui-primary-dark-100: color-mix(
    in srgb,
    var(--sui-primary) 10%,
    var(--sui-black)
  );
  --sui-primary-dark-150: color-mix(
    in srgb,
    var(--sui-primary) 15%,
    var(--sui-black)
  );
  --sui-primary-dark-200: color-mix(
    in srgb,
    var(--sui-primary) 20%,
    var(--sui-black)
  );
  --sui-primary-dark-250: color-mix(
    in srgb,
    var(--sui-primary) 25%,
    var(--sui-black)
  );
  --sui-primary-dark-300: color-mix(
    in srgb,
    var(--sui-primary) 30%,
    var(--sui-black)
  );
  --sui-primary-dark-350: color-mix(
    in srgb,
    var(--sui-primary) 35%,
    var(--sui-black)
  );
  --sui-primary-dark-400: color-mix(
    in srgb,
    var(--sui-primary) 40%,
    var(--sui-black)
  );
  --sui-primary-dark-450: color-mix(
    in srgb,
    var(--sui-primary) 45%,
    var(--sui-black)
  );
  --sui-primary-dark-500: color-mix(
    in srgb,
    var(--sui-primary) 50%,
    var(--sui-black)
  );
  --sui-primary-dark-550: color-mix(
    in srgb,
    var(--sui-primary) 55%,
    var(--sui-black)
  );
  --sui-primary-dark-600: color-mix(
    in srgb,
    var(--sui-primary) 60%,
    var(--sui-black)
  );
  --sui-primary-dark-650: color-mix(
    in srgb,
    var(--sui-primary) 65%,
    var(--sui-black)
  );
  --sui-primary-dark-700: color-mix(
    in srgb,
    var(--sui-primary) 70%,
    var(--sui-black)
  );
  --sui-primary-dark-750: color-mix(
    in srgb,
    var(--sui-primary) 75%,
    var(--sui-black)
  );
  --sui-primary-dark-800: color-mix(
    in srgb,
    var(--sui-primary) 80%,
    var(--sui-black)
  );
  --sui-primary-dark-850: color-mix(
    in srgb,
    var(--sui-primary) 85%,
    var(--sui-black)
  );
  --sui-primary-dark-900: color-mix(
    in srgb,
    var(--sui-primary) 90%,
    var(--sui-black)
  );
  --sui-primary-dark-950: color-mix(
    in srgb,
    var(--sui-primary) 95%,
    var(--sui-black)
  );
  --sui-secondary-dark-50: color-mix(
    in srgb,
    var(--sui-secondary) 5%,
    var(--sui-black)
  );
  --sui-secondary-dark-100: color-mix(
    in srgb,
    var(--sui-secondary) 10%,
    var(--sui-black)
  );
  --sui-secondary-dark-150: color-mix(
    in srgb,
    var(--sui-secondary) 15%,
    var(--sui-black)
  );
  --sui-secondary-dark-200: color-mix(
    in srgb,
    var(--sui-secondary) 20%,
    var(--sui-black)
  );
  --sui-secondary-dark-250: color-mix(
    in srgb,
    var(--sui-secondary) 25%,
    var(--sui-black)
  );
  --sui-secondary-dark-300: color-mix(
    in srgb,
    var(--sui-secondary) 30%,
    var(--sui-black)
  );
  --sui-secondary-dark-350: color-mix(
    in srgb,
    var(--sui-secondary) 35%,
    var(--sui-black)
  );
  --sui-secondary-dark-400: color-mix(
    in srgb,
    var(--sui-secondary) 40%,
    var(--sui-black)
  );
  --sui-secondary-dark-450: color-mix(
    in srgb,
    var(--sui-secondary) 45%,
    var(--sui-black)
  );
  --sui-secondary-dark-500: color-mix(
    in srgb,
    var(--sui-secondary) 50%,
    var(--sui-black)
  );
  --sui-secondary-dark-550: color-mix(
    in srgb,
    var(--sui-secondary) 55%,
    var(--sui-black)
  );
  --sui-secondary-dark-600: color-mix(
    in srgb,
    var(--sui-secondary) 60%,
    var(--sui-black)
  );
  --sui-secondary-dark-650: color-mix(
    in srgb,
    var(--sui-secondary) 65%,
    var(--sui-black)
  );
  --sui-secondary-dark-700: color-mix(
    in srgb,
    var(--sui-secondary) 70%,
    var(--sui-black)
  );
  --sui-secondary-dark-750: color-mix(
    in srgb,
    var(--sui-secondary) 75%,
    var(--sui-black)
  );
  --sui-secondary-dark-800: color-mix(
    in srgb,
    var(--sui-secondary) 80%,
    var(--sui-black)
  );
  --sui-secondary-dark-850: color-mix(
    in srgb,
    var(--sui-secondary) 85%,
    var(--sui-black)
  );
  --sui-secondary-dark-900: color-mix(
    in srgb,
    var(--sui-secondary) 90%,
    var(--sui-black)
  );
  --sui-secondary-dark-950: color-mix(
    in srgb,
    var(--sui-secondary) 95%,
    var(--sui-black)
  );
}
