:root {
  --sui-success-50: color-mix(in srgb, var(--sui-success) 5%, var(--sui-white));
  --sui-success-100: color-mix(
    in srgb,
    var(--sui-success) 10%,
    var(--sui-white)
  );
  --sui-success-150: color-mix(
    in srgb,
    var(--sui-success) 15%,
    var(--sui-white)
  );
  --sui-success-200: color-mix(
    in srgb,
    var(--sui-success) 20%,
    var(--sui-white)
  );
  --sui-success-250: color-mix(
    in srgb,
    var(--sui-success) 25%,
    var(--sui-white)
  );
  --sui-success-300: color-mix(
    in srgb,
    var(--sui-success) 30%,
    var(--sui-white)
  );
  --sui-success-350: color-mix(
    in srgb,
    var(--sui-success) 35%,
    var(--sui-white)
  );
  --sui-success-400: color-mix(
    in srgb,
    var(--sui-success) 40%,
    var(--sui-white)
  );
  --sui-success-450: color-mix(
    in srgb,
    var(--sui-success) 45%,
    var(--sui-white)
  );
  --sui-success-500: color-mix(
    in srgb,
    var(--sui-success) 50%,
    var(--sui-white)
  );
  --sui-success-550: color-mix(
    in srgb,
    var(--sui-success) 55%,
    var(--sui-white)
  );
  --sui-success-600: color-mix(
    in srgb,
    var(--sui-success) 60%,
    var(--sui-white)
  );
  --sui-success-650: color-mix(
    in srgb,
    var(--sui-success) 65%,
    var(--sui-white)
  );
  --sui-success-700: color-mix(
    in srgb,
    var(--sui-success) 70%,
    var(--sui-white)
  );
  --sui-success-750: color-mix(
    in srgb,
    var(--sui-success) 75%,
    var(--sui-white)
  );
  --sui-success-800: color-mix(
    in srgb,
    var(--sui-success) 80%,
    var(--sui-white)
  );
  --sui-success-850: color-mix(
    in srgb,
    var(--sui-success) 85%,
    var(--sui-white)
  );
  --sui-success-900: color-mix(
    in srgb,
    var(--sui-success) 90%,
    var(--sui-white)
  );
  --sui-success-950: color-mix(
    in srgb,
    var(--sui-success) 95%,
    var(--sui-white)
  );
  --sui-info-50: color-mix(in srgb, var(--sui-info) 5%, var(--sui-white));
  --sui-info-100: color-mix(in srgb, var(--sui-info) 10%, var(--sui-white));
  --sui-info-150: color-mix(in srgb, var(--sui-info) 15%, var(--sui-white));
  --sui-info-200: color-mix(in srgb, var(--sui-info) 20%, var(--sui-white));
  --sui-info-250: color-mix(in srgb, var(--sui-info) 25%, var(--sui-white));
  --sui-info-300: color-mix(in srgb, var(--sui-info) 30%, var(--sui-white));
  --sui-info-350: color-mix(in srgb, var(--sui-info) 35%, var(--sui-white));
  --sui-info-400: color-mix(in srgb, var(--sui-info) 40%, var(--sui-white));
  --sui-info-450: color-mix(in srgb, var(--sui-info) 45%, var(--sui-white));
  --sui-info-500: color-mix(in srgb, var(--sui-info) 50%, var(--sui-white));
  --sui-info-550: color-mix(in srgb, var(--sui-info) 55%, var(--sui-white));
  --sui-info-600: color-mix(in srgb, var(--sui-info) 60%, var(--sui-white));
  --sui-info-650: color-mix(in srgb, var(--sui-info) 65%, var(--sui-white));
  --sui-info-700: color-mix(in srgb, var(--sui-info) 70%, var(--sui-white));
  --sui-info-750: color-mix(in srgb, var(--sui-info) 75%, var(--sui-white));
  --sui-info-800: color-mix(in srgb, var(--sui-info) 80%, var(--sui-white));
  --sui-info-850: color-mix(in srgb, var(--sui-info) 85%, var(--sui-white));
  --sui-info-900: color-mix(in srgb, var(--sui-info) 90%, var(--sui-white));
  --sui-info-950: color-mix(in srgb, var(--sui-info) 95%, var(--sui-white));
  --sui-warning-50: color-mix(in srgb, var(--sui-warning) 5%, var(--sui-white));
  --sui-warning-100: color-mix(
    in srgb,
    var(--sui-warning) 10%,
    var(--sui-white)
  );
  --sui-warning-150: color-mix(
    in srgb,
    var(--sui-warning) 15%,
    var(--sui-white)
  );
  --sui-warning-200: color-mix(
    in srgb,
    var(--sui-warning) 20%,
    var(--sui-white)
  );
  --sui-warning-250: color-mix(
    in srgb,
    var(--sui-warning) 25%,
    var(--sui-white)
  );
  --sui-warning-300: color-mix(
    in srgb,
    var(--sui-warning) 30%,
    var(--sui-white)
  );
  --sui-warning-350: color-mix(
    in srgb,
    var(--sui-warning) 35%,
    var(--sui-white)
  );
  --sui-warning-400: color-mix(
    in srgb,
    var(--sui-warning) 40%,
    var(--sui-white)
  );
  --sui-warning-450: color-mix(
    in srgb,
    var(--sui-warning) 45%,
    var(--sui-white)
  );
  --sui-warning-500: color-mix(
    in srgb,
    var(--sui-warning) 50%,
    var(--sui-white)
  );
  --sui-warning-550: color-mix(
    in srgb,
    var(--sui-warning) 55%,
    var(--sui-white)
  );
  --sui-warning-600: color-mix(
    in srgb,
    var(--sui-warning) 60%,
    var(--sui-white)
  );
  --sui-warning-650: color-mix(
    in srgb,
    var(--sui-warning) 65%,
    var(--sui-white)
  );
  --sui-warning-700: color-mix(
    in srgb,
    var(--sui-warning) 70%,
    var(--sui-white)
  );
  --sui-warning-750: color-mix(
    in srgb,
    var(--sui-warning) 75%,
    var(--sui-white)
  );
  --sui-warning-800: color-mix(
    in srgb,
    var(--sui-warning) 80%,
    var(--sui-white)
  );
  --sui-warning-850: color-mix(
    in srgb,
    var(--sui-warning) 85%,
    var(--sui-white)
  );
  --sui-warning-900: color-mix(
    in srgb,
    var(--sui-warning) 90%,
    var(--sui-white)
  );
  --sui-warning-950: color-mix(
    in srgb,
    var(--sui-warning) 95%,
    var(--sui-white)
  );
  --sui-error-50: color-mix(in srgb, var(--sui-error) 5%, var(--sui-white));
  --sui-error-100: color-mix(in srgb, var(--sui-error) 10%, var(--sui-white));
  --sui-error-150: color-mix(in srgb, var(--sui-error) 15%, var(--sui-white));
  --sui-error-200: color-mix(in srgb, var(--sui-error) 20%, var(--sui-white));
  --sui-error-250: color-mix(in srgb, var(--sui-error) 25%, var(--sui-white));
  --sui-error-300: color-mix(in srgb, var(--sui-error) 30%, var(--sui-white));
  --sui-error-350: color-mix(in srgb, var(--sui-error) 35%, var(--sui-white));
  --sui-error-400: color-mix(in srgb, var(--sui-error) 40%, var(--sui-white));
  --sui-error-450: color-mix(in srgb, var(--sui-error) 45%, var(--sui-white));
  --sui-error-500: color-mix(in srgb, var(--sui-error) 50%, var(--sui-white));
  --sui-error-550: color-mix(in srgb, var(--sui-error) 55%, var(--sui-white));
  --sui-error-600: color-mix(in srgb, var(--sui-error) 60%, var(--sui-white));
  --sui-error-650: color-mix(in srgb, var(--sui-error) 65%, var(--sui-white));
  --sui-error-700: color-mix(in srgb, var(--sui-error) 70%, var(--sui-white));
  --sui-error-750: color-mix(in srgb, var(--sui-error) 75%, var(--sui-white));
  --sui-error-800: color-mix(in srgb, var(--sui-error) 80%, var(--sui-white));
  --sui-error-850: color-mix(in srgb, var(--sui-error) 85%, var(--sui-white));
  --sui-error-900: color-mix(in srgb, var(--sui-error) 90%, var(--sui-white));
  --sui-error-950: color-mix(in srgb, var(--sui-error) 95%, var(--sui-white));
  --sui-primary-50: color-mix(in srgb, var(--sui-primary) 5%, var(--sui-white));
  --sui-primary-100: color-mix(
    in srgb,
    var(--sui-primary) 10%,
    var(--sui-white)
  );
  --sui-primary-150: color-mix(
    in srgb,
    var(--sui-primary) 15%,
    var(--sui-white)
  );
  --sui-primary-200: color-mix(
    in srgb,
    var(--sui-primary) 20%,
    var(--sui-white)
  );
  --sui-primary-250: color-mix(
    in srgb,
    var(--sui-primary) 25%,
    var(--sui-white)
  );
  --sui-primary-300: color-mix(
    in srgb,
    var(--sui-primary) 30%,
    var(--sui-white)
  );
  --sui-primary-350: color-mix(
    in srgb,
    var(--sui-primary) 35%,
    var(--sui-white)
  );
  --sui-primary-400: color-mix(
    in srgb,
    var(--sui-primary) 40%,
    var(--sui-white)
  );
  --sui-primary-450: color-mix(
    in srgb,
    var(--sui-primary) 45%,
    var(--sui-white)
  );
  --sui-primary-500: color-mix(
    in srgb,
    var(--sui-primary) 50%,
    var(--sui-white)
  );
  --sui-primary-550: color-mix(
    in srgb,
    var(--sui-primary) 55%,
    var(--sui-white)
  );
  --sui-primary-600: color-mix(
    in srgb,
    var(--sui-primary) 60%,
    var(--sui-white)
  );
  --sui-primary-650: color-mix(
    in srgb,
    var(--sui-primary) 65%,
    var(--sui-white)
  );
  --sui-primary-700: color-mix(
    in srgb,
    var(--sui-primary) 70%,
    var(--sui-white)
  );
  --sui-primary-750: color-mix(
    in srgb,
    var(--sui-primary) 75%,
    var(--sui-white)
  );
  --sui-primary-800: color-mix(
    in srgb,
    var(--sui-primary) 80%,
    var(--sui-white)
  );
  --sui-primary-850: color-mix(
    in srgb,
    var(--sui-primary) 85%,
    var(--sui-white)
  );
  --sui-primary-900: color-mix(
    in srgb,
    var(--sui-primary) 90%,
    var(--sui-white)
  );
  --sui-primary-950: color-mix(
    in srgb,
    var(--sui-primary) 95%,
    var(--sui-white)
  );
  --sui-secondary-50: color-mix(
    in srgb,
    var(--sui-secondary) 5%,
    var(--sui-white)
  );
  --sui-secondary-100: color-mix(
    in srgb,
    var(--sui-secondary) 10%,
    var(--sui-white)
  );
  --sui-secondary-150: color-mix(
    in srgb,
    var(--sui-secondary) 15%,
    var(--sui-white)
  );
  --sui-secondary-200: color-mix(
    in srgb,
    var(--sui-secondary) 20%,
    var(--sui-white)
  );
  --sui-secondary-250: color-mix(
    in srgb,
    var(--sui-secondary) 25%,
    var(--sui-white)
  );
  --sui-secondary-300: color-mix(
    in srgb,
    var(--sui-secondary) 30%,
    var(--sui-white)
  );
  --sui-secondary-350: color-mix(
    in srgb,
    var(--sui-secondary) 35%,
    var(--sui-white)
  );
  --sui-secondary-400: color-mix(
    in srgb,
    var(--sui-secondary) 40%,
    var(--sui-white)
  );
  --sui-secondary-450: color-mix(
    in srgb,
    var(--sui-secondary) 45%,
    var(--sui-white)
  );
  --sui-secondary-500: color-mix(
    in srgb,
    var(--sui-secondary) 50%,
    var(--sui-white)
  );
  --sui-secondary-550: color-mix(
    in srgb,
    var(--sui-secondary) 55%,
    var(--sui-white)
  );
  --sui-secondary-600: color-mix(
    in srgb,
    var(--sui-secondary) 60%,
    var(--sui-white)
  );
  --sui-secondary-650: color-mix(
    in srgb,
    var(--sui-secondary) 65%,
    var(--sui-white)
  );
  --sui-secondary-700: color-mix(
    in srgb,
    var(--sui-secondary) 70%,
    var(--sui-white)
  );
  --sui-secondary-750: color-mix(
    in srgb,
    var(--sui-secondary) 75%,
    var(--sui-white)
  );
  --sui-secondary-800: color-mix(
    in srgb,
    var(--sui-secondary) 80%,
    var(--sui-white)
  );
  --sui-secondary-850: color-mix(
    in srgb,
    var(--sui-secondary) 85%,
    var(--sui-white)
  );
  --sui-secondary-900: color-mix(
    in srgb,
    var(--sui-secondary) 90%,
    var(--sui-white)
  );
  --sui-secondary-950: color-mix(
    in srgb,
    var(--sui-secondary) 95%,
    var(--sui-white)
  );
}
