.root {

}

.cardRoot {
  --sui-bento-card-title: var(--sui-black);
  --sui-bento-card-bg: linear-gradient(to right, #fc00ff, #00dbde);
  --sui-bento-card-bg-active: var(--sui-primary);
  --sui-bento-card-button-bg: var(--sui-white);
  --sui-bento-card-button-bg-hover: var(--sui-gray-100);
  --sui-bento-card-button-active-bg: var(--sui-white);
  --sui-bento-card-button-active-bg-hover: var(--sui-gray-100);
  --sui-bento-card-button-active-icon: var(--sui-black);
  background: linear-gradient(to right, #7b4397, #dc2430);
  color: white;
  min-height: 500px;
  min-width: 200px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}