.root {
  width: 100%;
  height: 100%;
  background-color: var(--sui-bento-card-bg);
  border-radius: 16px;
  border: 1px solid var(--sui-bento-card-border);
  transition: background-color 600ms;
  line-height: 40px;
  font-family: var(--sui-font-family);
  color: var(--sui-bento-card-content);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.rootActive {
  background-color: var(--sui-bento-card-bg-active);
  line-height: 24px;
}

.title {
  font-size: var(--sui-h1-fs);
  line-height: var(--sui-h1-lh);
  font-weight: 600;
  letter-spacing: 0.011em;
  color: var(--sui-bento-card-title);
  padding: 36px 40px;
  position: absolute;
  z-index: 4;
  flex-shrink: 0;
  max-height: 100px;
}

.activeTitle {
  color: var(--sui-bento-card-title-active);
}

.layer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.firstLayer {
  z-index: 2;
  animation: fade-in 600ms;
  transition: opacity 600ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondLayer {
  z-index: 1;
  transition:
    transform 600ms,
    opacity 600ms;
  transform: translateY(100%);
}

.root[data-active='true'] .secondLayer {
  transform: translateY(0);
  opacity: 1;
}

.root[data-active='true'] .firstLayer {
  display: none;
}

.hiddenLayer {
  opacity: 0;
}

.content {
  transition:
    transform 600ms,
    opacity 600ms;
  animation: slide-up 600ms forwards;
  width: 100%;
  font-size: var(--sui-text-large-fs);
  line-height: var(--sui-text-large-lh);
}

.root[data-active='true'] .content {
  animation: slide-down 600ms forwards;
}

.button {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  z-index: 4;
  transition: transform 600ms;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background-color: var(--sui-bento-card-button-bg);
}

.button:hover {
  background-color: var(--sui-bento-card-button-bg-hover);
}

.activeButton {
  animation: rotate-in 600ms forwards;
  background-color: var(--sui-bento-card-button-active-bg);
}

.activeButton:hover {
  background-color: var(--sui-bento-card-button-active-bg-hover);
}

.exitingButton {
  animation: rotate-out 600ms forwards;
}

.enteringContent {
  animation: slide-down 600ms forwards;
}

.exitingContent {
  animation: slide-up 600ms forwards;
}

.root[data-active='false'] .plusIcon {
  width: 24px;
  height: 24px;
  color: var(--sui-bento-card-button-icon);
}

.root[data-active='true'] .plusIcon {
  width: 24px;
  height: 24px;
  color: var(--sui-bento-card-button-active-icon);
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes rotate-out {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0deg);
  }
}
