.firstCardRoot {
  --bento-card-title: var(--sui-color-white);
  --bento-card-bg: transparent;
  --bento-card-bg-active: var(--sui-color-primary);
  --bento-card-button-active-bg: var(--sui-color-white);
  --bento-card-button-active-bg-hover: var(--gray-color-100);
  --bento-card-button-active-icon: var(--sui-color-black);
}

.secondCardRoot {
  --bento-card-title: var(--sui-color-black);
  --bento-card-bg: var(--sui-color-white);
  --bento-card-bg-active: var(--sui-color-success);
  --bento-card-button-active-bg: var(--sui-color-white);
  --bento-card-button-active-bg-hover: var(--gray-color-100);
  --bento-card-button-active-icon: var(--sui-color-black);
}

.thirdCardRoot {
  --bento-card-title: var(--sui-color-white);
  --bento-card-bg: transparent;
  --bento-card-bg-active: var(--sui-color-warning);
  --bento-card-button-active-bg: var(--sui-color-white);
  --bento-card-button-active-bg-hover: var(--gray-color-100);
  --bento-card-button-active-icon: var(--sui-color-black);
}