.root {
  --progress-label-background: var(--sui-background, white);
  --progress-track-color: var(--sui-color-info-dim);
  --progress-bar-color: var(--sui-color-info);
  --progress-bar-value: 0;

  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  gap: 8px;
}

.progressbar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, var(--progress-label-background) 79%, transparent 80% 100%),
    conic-gradient(var(--progress-bar-color) var(--progress-bar-value), var(--progress-track-color) 0);
  position: relative;
}

.label {
  color: var(--sui-foreground);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  line-height: 1rem;
}

/** COLOR */
.root[data-color="secondary"] .progressbar {
  --progress-bar-color: var(--sui-color-secondary);
}

.root[data-color="success"] .progressbar {
  --progress-bar-color: var(--sui-color-success);
  --progress-track-color: var(--sui-color-success-dim);
}

.root[data-color="error"] .progressbar {
  --progress-bar-color: var(--sui-color-error);
  --progress-track-color: var(--sui-color-error-dim);
}

/** DETERMINATE */
@keyframes spin-clockwise {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.root[data-determinate=false] .progressbar {
  background:
    radial-gradient(closest-side, var(--progress-label-background) 79%, transparent 80% 100%),
    conic-gradient(var(--progress-bar-color) 25%, var(--progress-track-color) 0);
  animation: 0.5s linear both spin-clockwise infinite;
}

/** VARIANT */
.root[data-variant="linear"] {
  align-self: unset;
}

.root[data-variant="linear"] .progressbar {
  background: linear-gradient(90deg, var(--progress-bar-color) var(--progress-bar-value), var(--progress-track-color) var(--progress-bar-value) 100%);
  min-width: 100px;
  width: 100%;
  height: 8px;
  border-radius: 4px;
}

@keyframes infinite-slide {
  from {
    background-position: 0%;
  }
  to {
    background-position: -300%;
  }
}

.root[data-variant="linear"][data-determinate=false] .progressbar {
  background: linear-gradient(90deg, var(--progress-track-color) 0% 40%, var(--progress-bar-color) 50% 65%, var(--progress-track-color) 75% 100%);
  background-size: 300%;
  animation: 1.5s linear infinite both infinite-slide;
}

.root[data-variant="linear"] .label {
  position: static;
  transform: unset;
}