.root {
  --progress-label-background: var(--sui-background, white);
  --progress-track-color: var(--sui-color-info-dim);
  --progress-bar-color: var(--sui-color-info);
  --progress-bar-value: 0;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, var(--progress-label-background) 79%, transparent 80% 100%),
    conic-gradient(var(--progress-bar-color) var(--progress-bar-value), var(--progress-track-color) 0);
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
