.root {
  display: flex;
  flex-direction: column;
  color: var(--sui-sui-foreground);
  background-color: var(--sui-sui-background);
  box-sizing: border-box;
  font-family: var(--sui-font-family);
}

.root * {
  box-sizing: border-box;
}
