.container {
  color: var(--sui-accordion-fg);
  background-color: var(--sui-accordion-bg);
  font-family: var(--sui-font-family);
  border-left: 1px solid var(--sui-accordion-border);
  border-right: 1px solid var(--sui-accordion-border);
  box-sizing: border-box;
  transition: var(--sui-transition);

  &:first-of-type {
    border-top-left-radius: var(--sui-border-radius-small);
    border-top-right-radius: var(--sui-border-radius-small);
    border-top: 1px solid var(--sui-accordion-border);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--sui-border-radius-small);
    border-bottom-right-radius: var(--sui-border-radius-small);
    border-bottom: 1px solid var(--sui-accordion-border);
  }

  &[data-expanded="true"] {
    .root,
    .actions {
      max-height: 200px;
      max-height: calc-size(auto);
      padding: 0.5rem 1rem;
    }

    .icon {
      transform: rotate(-90deg);
    }
  }

  &[data-expanded="false"] {
    .icon {
      transform: rotate(90deg);
    }
  }

  &[data-unmountonexit="true"] {
    .root,
    .actions {
      transition: none;
    }
  }
}

.summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--sui-accordion-summary-fg);
  background-color: var(--sui-accordion-summary-bg);
  border-radius: var(--sui-border-radius-small);
  border: none;
  outline: none;
  font-family: inherit;
  font-size: var(--sui-text-large-fs);
  cursor: pointer;

  &[disabled] {
    cursor: default;
    color: var(--sui-accordion-summary-disabled);
  }
}

.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
  overflow: auto;
  max-height: 0;
  transition: var(--sui-transition);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0 1rem;
  overflow: auto;
  max-height: 0;
  transition: var(--sui-transition);
}

.icon {
  margin-left: auto;
  transition: var(--sui-transition);
}
