.track,
.progress {
  color: var(--gray-200, lightgray);
  transform: translate(0, calc(100% - var(--track-size)));
}

.progress {
  color: var(--primary, cyan);
}

.label {
  fill: inherit;
  font-size: inherit;
  font-family: inherit;
  transform: translate(50%, 16px);
}