:root {
  --sui-background: #fafafa;
  --sui-background-rgb: 250,250,250;
  --sui-foreground: #18181a;
  --sui-foreground-dim: #646464;
  --sui-border: #dcdedd;
  --sui-color-white: #fafafa;
  --sui-color-black: #18181a;
  --sui-color-primary: #9c28b1;
  --sui-color-secondary: #646464;
  --sui-color-success: #398e3d;
  --sui-color-success-dim: #edf7ed;
  --sui-color-info: #0288d1;
  --sui-color-info-dim: #e5f6fd;
  --sui-color-warning: #ec6c01;
  --sui-color-warning-dim: #fff4e5;
  --sui-color-error: #d32f2e;
  --sui-color-error-dim: #fdeded;
  --sui-text-success: #1e4620;
  --sui-text-info: #014361;
  --sui-text-warning: #663c00;
  --sui-text-error: #5f2120;
  --gray-color-600: #717a80;
  --gray-color-500: #899196;
  --gray-color-400: #a3abb0;
  --gray-color-300: #b6bec4;
  --gray-color-200: #d1d8de;
  --gray-color-100: #e5eaef;
  --gray-color-50: #f8f9f9;
  --gray-color-25: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sui-background: #18181a;
    --sui-background-rgb: 24,24,26;
    --sui-foreground: #fafafa;
    --sui-foreground-dim: #7a7a7a;
    --sui-border: #3c3c3c;
    --sui-color-success-dim: #0c130d;
    --sui-color-info-dim: #071318;
    --sui-color-warning-dim: #191207;
    --sui-color-error-dim: #160b0b;
    --sui-text-success: #cce8cd;
    --sui-text-info: #b8e7fb;
    --sui-text-warning: #ffe2b7;
    --sui-text-error: #f4c7c7;
    --gray-color-600-dark: #2b2e33;
    --gray-color-500-dark: #313336;
    --gray-color-400-dark: #3c3f43;
    --gray-color-300-dark: #4b4f54;
    --gray-color-200-dark: #575b60;
    --gray-color-100-dark: #6b6f74;
    --gray-color-50-dark: #8b8e91;
    --gray-color-25-dark: #a1a3a5;
  }
}
