@import "colors/colors";
@import "colors/colors-light";
@import "colors/colors-dark";

@import "components/accordion.scss";
@import "components/button";
@import "components/tooltip";
@import "components/popover";
@import "components/context-menu";
@import "components/dropdown";
@import "components/floating-menu-item";

:root {
  /* GRAY */
  --sui-gray-950: #0a0a0a;
  --sui-gray-900: #171717;
  --sui-gray-850: #1f1f1f;
  --sui-gray-800: #262626;
  --sui-gray-750: #333;
  --sui-gray-700: #404040;
  --sui-gray-650: #4b4b4b;
  --sui-gray-600: #525252;
  --sui-gray-550: #5f5f5f;
  --sui-gray-500: #737373;
  --sui-gray-450: #8c8c8c;
  --sui-gray-400: #a3a3a3;
  --sui-gray-350: #bfbfbf;
  --sui-gray-300: #d4d4d4;
  --sui-gray-250: #e0e0e0;
  --sui-gray-200: #e5e5e5;
  --sui-gray-150: #ededed;
  --sui-gray-100: #f5f5f5;
  --sui-gray-50: #fafafa;

  /* TYPOGRAPHY */
  --sui-h1-fs: 2.5rem;
  --sui-h1-lh: 2.875rem;
  --sui-h2-fs: 2rem;
  --sui-h2-lh: 2.3rem;
  --sui-h3-fs: 2rem;
  --sui-h3-lh: 2.3rem;
  --sui-h4-fs: 1.5rem;
  --sui-h4-lh: 1.725rem;
  --sui-h5-fs: 1.5rem;
  --sui-h5-lh: 1.725rem;
  --sui-h6-fs: 1rem;
  --sui-h6-lh: 1.15rem;
  --sui-text-small-fs: 0.625rem;
  --sui-text-small-lh: 1.125rem;
  --sui-text-fs: 0.875rem;
  --sui-text-lh: 1.375rem;
  --sui-text-large-fs: 1rem;
  --sui-text-large-lh: 1.5rem;

  /* PADDING */
  --sui-padding-small: 0.25rem;
  --sui-padding: 0.5rem;
  --sui-padding-large: 1rem;

  /* ELEVATIONS */
  --sui-elevation-1: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 10%) 0px 2px 4px -2px;
  --sui-elevation-2: rgb(0 0 0 / 10%) 0 3px 3px 0;
  --sui-elevation-3: rgb(0 0 0 / 10%) 0 8px 8px 0;
  --sui-elevation-4: rgb(0 0 0 / 10%) 0 16px 16px 0;
  --sui-elevation-5: rgb(0 0 0 / 10%) 0 32px 32px 0;
  --sui-elevation-6: rgb(0 0 0 / 10%) 0 64px 64px 0;

  /* BORDER RADIUS */
  --sui-border-radius-small: 0.4rem;
  --sui-border-radius-medium: 0.6rem;
  --sui-border-radius-large: 0.8rem;
  --sui-border-radius-full: 100%;

  /* GAPS MARGINS PADDINGS */
  --sui-text-margin: 0.5rem;
  --sui-gap: 1rem;
  --sui-transition: all 0.3s ease-in-out;
  --sui-font-family: galanogrotesque, "Noto Sans", -apple-system,
    blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* NEUTRAL COLORS/ */
  --sui-transparent: transparent;
  --sui-current: currentcolor;

  /* COMPONENT COLORS/ */
  --sui-border: var(--sui-gray-200);

  /* ALERT */
  --sui-success-50: color-mix(in srgb, var(--sui-success) 5%, var(--sui-white));
  --sui-info-50: color-mix(in srgb, var(--sui-info) 5%, var(--sui-white));
  --sui-warning-50: color-mix(in srgb, var(--sui-warning) 5%, var(--sui-white));
  --sui-error-50: color-mix(in srgb, var(--sui-error) 5%, var(--sui-white));
  --sui-success-200: color-mix(
    in srgb,
    var(--sui-success) 20%,
    var(--sui-white)
  );
  --sui-info-200: color-mix(in srgb, var(--sui-info) 20%, var(--sui-white));
  --sui-warning-200: color-mix(
    in srgb,
    var(--sui-warning) 20%,
    var(--sui-white)
  );
  --sui-error-200: color-mix(in srgb, var(--sui-error) 20%, var(--sui-white));
  --sui-success-d600: color-mix(
    in srgb,
    var(--sui-success) 60%,
    var(--sui-black)
  );
  --sui-info-d600: color-mix(in srgb, var(--sui-info) 60%, var(--sui-black));
  --sui-warning-d600: color-mix(
    in srgb,
    var(--sui-warning) 60%,
    var(--sui-black)
  );
  --sui-error-d600: color-mix(in srgb, var(--sui-error) 60%, var(--sui-black));
  --active-unfocused: red;
}
