.root {
  width: var(--base-width);
  padding: var(--padding);
}

// Adding dynamic breakpoints to media queries seems to be impossible with how CSS works even with SASS.
// https://stackoverflow.com/questions/40722882/css-native-variables-not-working-in-media-queries
// TODO: Make a workaround with react using useMediaQuery
@media screen and (min-width: 576px) {
  .root {
    width: var(--sm-width);
  }
}

@media screen and (min-width: 768px) {
  .root {
    width: var(--md-width);
  }
}

@media screen and (min-width: 992px) {
  .root {
    width: var(--lg-width);
  }
}

@media screen and (min-width: 1200px) {
  .root {
    width: var(--xl-width);
  }
}
