.root {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-height: 1px;
  color: var(--sui-foreground-dim);
  position: relative;
}

.root::before,
.root::after {
  display: flex;
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--sui-border);
}

.root:empty {
  border-bottom: 1px solid var(--sui-border);
}

.root:empty::after,
.root:empty::before {
  display: none;
}

.root[data-variant="left"] {
  width: 90%;
}

.root[data-variant="right"] {
  width: 90%;
  align-self: flex-end;
}

.root[data-variant="middle"] {
  width: 90%;
  align-self: center;
}