.root {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  .list {
    margin: 0 0.5rem;

    a {
      text-decoration: none;
      color: var(--sui-breadCrumbs-fg);
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--sui-breadCrumbs-fg);
      }
    }
  }

  .active {
    font-weight: bold;
  }
}
