.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--sui-text-small-fs);
}

.list {
  margin: 0 0.5rem;

  a {
    text-decoration: none;
    color: var(--sui-breadCrumbs-fg);
    transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--sui-breadCrumbs-hover-fg);
    }
  }

  &.active {
    font-weight: bold;
  }
}

.separator {
  margin: 0 0.5rem;
}

.icon {
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
}

@media (min-width: 576px) {
  // Small devices (landscape phones, 576px and up)
  .root {
    font-size: var(--sui-text-fs);
  }
}

@media (min-width: 768px) {
  // Small devices (tablets, 768px and up)
  .root {
    font-size: var(--sui-text-lh);
  }
}

@media (min-width: 992px) {
  // Small devices (desktops, 992px and up)
}

@media (min-width: 1200px) {
  // Small devices (large desktops, 1200px and up)
}

@media (min-width: 1400px) {
  // Small devices (larger desktops, 1400px and up)
}

@media (min-width: 2160px) {
  // Small devices (largest desktops, 2160px and up)
}
