:root {
  color: var(--sui-black);
  background-color: var(--sui-white);
}

[data-theme="dark"] {
  color: var(--sui-white);
  background-color: var(--sui-black);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--sui-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
