.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--sui-font-family);
  box-sizing: border-box;
  gap: 0.5rem;

  * {
    box-sizing: border-box;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: var(--sui-padding-small);
  list-style: none;
  background-color: var(--sui-tab-buttons-bg);
  border-radius: var(--sui-border-radius-small);
  overflow: hidden;

  > li {
    display: flex;
    flex-grow: 1;
    min-width: fit-content;

    > button {
      width: 100%;
      padding: 0.25rem;
      border: 1px solid var(--sui-tab-button-border);
      border-radius: var(--sui-border-radius-small);
      color: var(--sui-tab-button-fg);
      background-color: var(--sui-tab-button-bg);
      cursor: pointer;
      transition: var(--sui-transition);

      &[disabled] {
        color: var(--sui-tab-button-disabled-fg);
        cursor: default;
      }
    }

    &[data-selected="true"] {
      > button {
        color: var(--sui-tab-button-selected-fg);
        background-color: var(--sui-tab-button-selected-bg);
        box-shadow: var(--sui-elevation-2);
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--sui-tab-content-border);
  border-radius: var(--sui-border-radius-small);
  background-color: var(--sui-tab-content-bg);
  color: var(--sui-tab-content-fg);
  padding: var(--sui-padding);
}

.root[data-variant="ghost"] {
  --sui-tab-buttons-bg: var(--sui-transparent);
  --sui-tab-button-fg: var(--sui-gray-500);
  --sui-tab-button-bg: var(--sui-transparent);
  --sui-tab-button-disabled-fg: var(--sui-gray-300);
  --sui-tab-button-selected-fg: var(--sui-info);
  --sui-tab-content-border: var(--sui-transparent);

  .buttons {
    padding: 0;
    border-radius: 0;

    > li {
      > button {
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 0;
        border-bottom: 2px solid var(--sui-tab-button-border);
        box-shadow: none;
      }

      &[data-selected="true"] {
        > button {
          border-bottom: 2px solid var(--sui-tab-button-selected-fg);
        }
      }
    }
  }

  .content {
    border-radius: 0;
  }
}

[data-theme="dark"] .root[data-variant="ghost"] {
  --sui-tab-button-disabled-fg: var(--sui-gray-700);
}