.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: var(--sui-border-radius-medium);
  border: 1px solid var(--sui-transparent);
  color: var(--sui-success);
  background: var(--sui-success-200);
  font-family: var(--sui-font-family);
}

.icon {
  width: fit-content;
  flex-shrink: 0;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: var(--sui-text-fs);
  line-height: var(--sui-text-lh);
}

.title {
  font-weight: 600;
  font-size: var(--sui-text-fs);
  line-height: var(--sui-text-lh);
  margin-bottom: var(--sui-text-margin);
  text-transform: capitalize;
}

.root[data-open='false'] {
  display: none;
}

/** VARIANT DEFAULT */
.root[data-variant='default-success'] {
  color: var(--sui-alert-success-d600);
  background-color: var(--sui-alert-success-200);
}

.root[data-variant='default-success'] svg {
  fill: var(--sui-alert-success-d600);
}

.root[data-variant='default-info'] {
  color: var(--sui-alert-info-d600);
  background-color: var(--sui-alert-info-200);
}

.root[data-variant='default-info'] svg {
  fill: var(--sui-alert-info-d600);
}

.root[data-variant='default-warning'] {
  color: var(--sui-alert-warning-d600);
  background-color: var(--sui-alert-warning-200);
}

.root[data-variant='default-warning'] svg {
  fill: var(--sui-alert-warning-d600);
}

.root[data-variant='default-error'] {
  color: var(--sui-alert-error-d600);
  background-color: var(--sui-error-200);
}

.root[data-variant='default-error'] svg {
  fill: var(--sui-error-d600);
}

/** VARIANT FILLED */
.root[data-variant='filled-success'] {
  color: var(--sui-white);
  background-color: var(--sui-success);
}

.root[data-variant='filled-info'] {
  color: var(--sui-white);
  background-color: var(--sui-alert-info);
}

.root[data-variant='filled-warning'] {
  color: var(--sui-white);
  background-color: var(--sui-alert-warning);
}

.root[data-variant='filled-error'] {
  color: var(--sui-white);
  background-color: var(--sui-alert-error);
}

/** VARIANT OUTLINED */
.root[data-variant='outlined-success'] {
  color: var(--sui-alert-success-d600);
  background-color: var(--sui-alert-success-50);
  border: 1px solid var(--sui-alert-success-d600);
}

.root[data-variant='outlined-info'] {
  color: var(--sui-alert-info-d600);
  background-color: var(--sui-alert-info-50);
  border: 1px solid var(--sui-alert-info-d600);
}

.root[data-variant='outlined-warning'] {
  color: var(--sui-alert-warning-d600);
  background-color: var(--sui-alert-warning-50);
  border: 1px solid var(--sui-alert-warning-d600);
}

.root[data-variant='outlined-error'] {
  color: var(--sui-alert-error-d600);
  background-color: var(--sui-alert-error-50);
  border: 1px solid var(--sui-alert-error-d600);
}
