.root {
  display: flex;
  gap: var(--gap);
  padding: var(--padding);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--transparent);
  color: var(--success);
  background: var(--success-200);
}

.body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: var(--text-fs);
  line-height: var(--text-lh);
}

.title {
  font-weight: 600;
  font-size: var(--text-large-fs);
  line-height: var(--text-large-lh);
  margin-bottom: var(--text-margin);
  text-transform: capitalize;
}

.root[data-open="false"] {
  display: none;
}

/** VARIANT DEFAULT */
.root[data-variant="default-success"] {
  color: var(--success-d600);
  background-color: var(--success-200);
}

.root[data-variant="default-success"] svg {
  fill: var(--success-d600);
}

.root[data-variant="default-info"] {
  color: var(--info-d600);
  background-color: var(--info-200);
}

.root[data-variant="default-info"] svg {
  fill: var(--info-d600);
}

.root[data-variant="default-warning"] {
  color: var(--warning-d600);
  background-color: var(--warning-200);
}

.root[data-variant="default-warning"] svg {
  fill: var(--warning-d600);
}

.root[data-variant="default-error"] {
  color: var(--error-d600);
  background-color: var(--error-200);
}

.root[data-variant="default-error"] svg {
  fill: var(--error-d600);
}

/** VARIANT FILLED */
.root[data-variant="filled-success"] {
  color: var(--white);
  background-color: var(--success);
}

.root[data-variant="filled-info"] {
  color: var(--white);
  background-color: var(--info);
}

.root[data-variant="filled-warning"] {
  color: var(--white);
  background-color: var(--warning);
}

.root[data-variant="filled-error"] {
  color: var(--white);
  background-color: var(--error);
}

/** VARIANT OUTLINED */
.root[data-variant="outlined-success"] {
  color: var(--success-d600);
  background-color: var(--success-50);
  border: 1px solid var(--success);
}

.root[data-variant="outlined-info"] {
  color: var(--info-d600);
  background-color: var(--info-50);
  border: 1px solid var(--info-d600);
}

.root[data-variant="outlined-warning"] {
  color: var(--warning-d600);
  background-color: var(--warning-50);
  border: 1px solid var(--warning-d600);
}

.root[data-variant="outlined-error"] {
  color: var(--error-d600);
  background-color: var(--error-50);
  border: 1px solid var(--warning-d600);
}
