.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 1;
  object-fit: cover; /* Adjust as needed: 'cover' to zoom or 'contain' to fit */
}

.desc {
  z-index: 2;
  color: var(--sui-white);
  font-size: 48px;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 300px;
  line-height: 50px;
}
