.track {
  color: var(--gray-200, lightgray);
}

.progress {
  color: var(--primary, purple);
  transform: rotate(-90deg) translateX(-100%);
}

.label {
  fill: inherit;
  font-size: inherit;
  font-family: inherit;
}