@keyframes pop-in {
  from {
    scale: 0.2;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes pop-out {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 0.2;
    opacity: 0;
  }
}

.modal {
  color: black;
  background-color: white;
  display: grid;
  place-items: center;
  position: absolute;
  inset: calc((100svh - 300px) / 2) calc((100svw - 300px) / 2);
  border-radius: 0.5rem;
  animation: pop-in 300ms both cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &[class~='ReactModal__Content--before-close'] {
    animation: pop-out 300ms both cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: inherit;
    border-radius: inherit;
    padding: 20px;
    width: 300px;
    height: 300px;
  }
}

.overlay {
  z-index: 1003;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.25);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}

html[class~="dark"] {
  .modal {
    color: white;
    background-color: black;
  }
}
