.container {
  display: flex;
  align-self: center;
  position: relative;
  font-family: var(--sui-font-family);
}

.root {
  display: flex;
  align-items: center;
  place-content: center center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  color: var(--sui-white);
  background-color: var(--sui-primary);
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
  padding: 0 6px;
  font-size: 0.75rem;
  font-weight: 500;
  transition: all 150ms;
  opacity: 1;

  /** Only supported in Chromium browsers yet. Won't brake anything for other browsers */
  transition-behavior: allow-discrete;

  @starting-style {
    opacity: 0;
  }
}

/** POSITION PROP */
.container[data-position='end'] .root {
  top: 50%;
  right: 0;
}

.container[data-position='bottom-end'] .root {
  top: 100%;
  right: 0;
}

.container[data-position='bottom'] .root {
  top: 100%;
  right: 50%;
}

.container[data-position='bottom-start'] .root {
  top: 100%;
  right: 100%;
}

.container[data-position='start'] .root {
  top: 50%;
  right: 100%;
}

.container[data-position='top-start'] .root {
  top: 0;
  right: 100%;
}

.container[data-position='top'] .root {
  top: 0;
  right: 50%;
}

.container[data-position='top-end'] .root {
  top: 0;
  right: 0;
}

/** SHOW PROP */
.container[data-show='false'] .root {
  display: none;
  opacity: 0;
}

/** COLOR PROP */
.container[data-color='primary'] .root {
  background-color: var(--sui-primary);
}

.container[data-color='secondary'] .root {
  background-color: var(--sui-secondary);
}

.container[data-color='success'] .root {
  background-color: var(--sui-success);
}

.container[data-color='error'] .root {
  background-color: var(--sui-error);
}

/** VARIANT PROP */
.container[data-variant='dot'] .root {
  width: 8px;
  height: 8px;
  min-width: unset;
  padding: unset;
}
